.expenses {
  padding-right: 40px;
}

.expenses__main {
  margin-top: 98px;
}

.expenses__main__search {
  display: flex;
  justify-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #f5f5f5;
}
.expenses__main__search_input {
  padding: 12px 70px 12px 15px;
  width: 335px;
  height: 48px;
  background: #f8f8f8;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  outline: none;
  background-image: url("./Icon/ssearch.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  text-indent: 54px;
  margin-right: auto;
}
.expenses__main__search_input::placeholder {
  font-family: "Kumbh Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #929eae;
}
.search__btn {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 17.56px 20px;
  cursor: pointer;
}
.search__btn:active {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.expenses__main__search_create {
  background: #c8ee44;
  font-weight: 600;
  margin-right: 20px;
}
.expenses__main__search_filter {
  border: 1px solid #f5f5f5;
  background-color: transparent;
  font-weight: 500;
  margin-right: 72px;
}
.search__btn_text {
  font-family: "Kumbh Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1b212d;
}
.search__btn_icon {
  vertical-align: middle;
  margin-right: 12.5px;
}

/* form css */
.form__group {
  background: #ffffff;
  box-shadow: 3px -5px 35px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  padding: 40px;
  width: 580px;
  margin: auto;
  margin-top: 118px;
}

.form__input {
  width: 500px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  text-indent: 24px;
  margin-bottom: 20px;
}
.form__select {
  margin-bottom: 34px;
  cursor: pointer;
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  background-image: url("./Icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 19px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(78, 93, 120, 0.6);
}
/* removal of the arrow for lower IE */
.form__select::-ms-expand {
  display: none;
}

.form .form__select option {
  padding: 15px 0;
  border-bottom: 1px solid #eee !important;
}

.form__row_date {
  width: 240px;
  margin-right: 25px;
}
.form__row__checkbox {
  position: relative;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: rgba(78, 93, 120, 0.6);
  padding-left: 30px;
}
.form__row__checkbox_input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}
.form__row__checkbox_checkmark {
  position: absolute;
  top: -15px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #c3cbcd;
}
.form__row__checkbox:hover input ~ .form__row__checkbox_checkmark {
  border-color: #ddd;
}
/* .form__row__checkbox input:checked ~ .form__row__checkbox_checkmark {
  background-color: red;
} */
.form__row__checkbox_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form__row__checkbox input:checked ~ .form__row__checkbox_checkmark:after {
  display: block;
}

.form__row__checkbox .form__row__checkbox_checkmark:after {
  left: 5px;
  top: -2px;
  width: 8px;
  height: 15px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* 自定义 图片上传 按钮 */
.form__img_upload_btn{
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(119, 119, 119, 0.4) 0%, rgba(35, 35, 35, 0.1) 100%);
    backdrop-filter: blur(50px);
}
.form__img_upload_btn_input{
    border: none;
    outline: none;
}
.form__img_upload_btn_input::-webkit-file-upload-button {
  visibility: hidden;
}
.form__img_upload_btn_input::before {
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    background-image: url('./Icon/camera.svg');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.form__submit {
  background: #c8ee44;
  border-radius: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #1b212d;
  outline: none;
}
.form__submit:active {
  transform: scale(0.98);
  transition: all 0.1s;
}
