.dashboard {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-right: 40px;
  overflow-y: auto;
}
/* top bar */
.dashboard__topbar {
  display: flex;
  align-items: center;
  padding: 30px 0;
  position: fixed;
  left: 290px;
  top: 0;
  right: 0;
  width: calc(100% -290px);
  background-color: #ffffff;
  margin-right: 40px;
  /* box-shadow: 0px 1px 0px 0px rgba(0, 0, 0,0.1); */
}
.dashboard__topbar__title {
  font-family: "Kumbh Sans";
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: #1b212d;
  margin-right: auto;
}
.dashboard__topbar__users {
  background: #fafafa;
  border-radius: 100px;
  padding: 6px 15px 6px 7px;
}
.dashboard__topbar__users_avatar {
  vertical-align: middle;
  margin-right: 12px;
}
.dashboard__topbar__users_name {
  font-family: "Kumbh Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1b212d;
  margin-right: 31.54px;
}
.dashboard__topbar__users_arrow {
  cursor: pointer;
}

/* main */
.dashboard__main {
  width: 100%;
  display: flex;
  margin-top: 108px;
}
/* content */
.dashboard__main__content {
  margin-right: 40px;
  flex: 2;
}

.dashboard__main__content__cards {
  width: 100%;
}

.dashboard__main__content__cards_ul {
  display: flex;
  justify-content: space-between;
}
.dashboard__main__content__card {
  display: flex;
  align-items: center;
  padding: 24px 20px;
  gap: 15px;
  width: 222px;
  background: #f8f8f8;
  border-radius: 10px;
}
.dashboard__main__content__card--active {
  background-color: #363a3f;
}
.dashboard__main__content__card_ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: #ebe8e8;
  border-radius: 50%;
}
.dashboard__main__content__card_ellipse--active {
  background-color: #4e5257;
}
.dashboard__main__content__card_total {
  font-family: "Kumbh Sans";
}
.dashboard__main__content__card_total_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #929eae;
}
.dashboard__main__content__card_total_cost {
  font-weight: 700;
  font-size: 24px;
  color: #1b212d;
  margin-top: 10px;
}
.dashboard__main__content__card_total_cost--active {
  color: #ffffff;
}
.content--box {
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 19px 20px 21px 25px;
}
.dashboard__main__content__graph {
  width: 100%;
}
.dashboard__main__content__recent {
  width: 98%;
}

/* wallet */
.dashboard__main__wallet {
  flex: 1;
  /* border: 1px solid green; */
}

.dashboard__main__wallet_item {
  display: flex;
  margin-top: 25px;
}

.dashboard__main__wallet_item_cost {
  font-family: "Kumbh Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-left: auto;
}
