.sign {
    display: flex;
}

.sign-main {
    padding-left: 8%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: auto;
    width: 30%;
}

.sign-main h1 {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #1B212D;
    margin-bottom: 5px;
    
}

.sign-image {
    width: 675px;
    height: 900px;
}

.sign-logo {
    width: 122px;
    height: 30px;
    margin-bottom: 80px;
}
span{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 17px;
    color:#1B212D;
    margin-bottom: 5px;
    }
.sign-logo-slogan {
    color: #78778B;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.sign-form {
    display: flex;
    flex-direction: column;
}


.form-text{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:#78778B;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px #999;
    border-radius: 8px;
}

.form-hint1{
    display: flex;
    align-items: baseline;
    text-align: justify;
    justify-content: space-between;
}

input[type="checkbox"]{
    zoom:130%;
    margin: 0px;
}

#remember + label{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 17px;
    color:#1B212D;
    margin-bottom: 5px;
    margin-left: 5px;
}

form > button{
    margin-top: 15px;
    padding: 14px 20px;
width: 100%;
height: 48px;
border: none;
background: #C8EE44;
border-radius: 10px;
font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #1B212D;
}

.form-hint2{
    
}
