/* top bar */
.dashboard__topbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    position: fixed;
    left: 290px;
    top: 0;
    right: 0;
    width: calc(100% -290px);
    background-color: #ffffff;
    margin-right: 40px;
    /* box-shadow: 0px 1px 0px 0px rgba(0, 0, 0,0.1); */
  }
  .dashboard__topbar__title {
    font-family: "Kumbh Sans";
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #1b212d;
    margin-right: auto;
  }
  .dashboard__topbar__users {
    background: #fafafa;
    border-radius: 100px;
    padding: 6px 15px 6px 7px;
  }
  .dashboard__topbar__users_avatar {
    vertical-align: middle;
    margin-right: 12px;
  }
  .dashboard__topbar__users_name {
    font-family: "Kumbh Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1b212d;
    margin-right: 31.54px;
  }
  .dashboard__topbar__users_arrow {
    cursor: pointer;
  }
  