*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
li,
button,
body{
    margin: 0;
    padding:0;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.app{
    overflow: hidden;
}
.app__body{
    display: flex;
}
.app__body__routes{
    /* min-width: 960px; */
    flex:1;
    margin-left:40px;
    border: 1px solid red;
}